<div class="row">
  <ul class="list-group">
    <li *ngFor="let eachCategory of categories" class="list-group-item">
      <app-category [category] = "eachCategory"></app-category>
          <ul>
            <li *ngFor ="let catTitle of eachCategory.catTitles">
            <h5>Category - </h5>  {{(catTitle | async)?.cname}}
            </li>
        </ul>
    </li>
  </ul>
</div> 